<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <!--配置我们的服务 每个服务都配置好ABC-->
      <!--IIS托管要配置相关行为-->
      <service name="MusicStoreWcfRestService.EmployeesService" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="MusicStoreWcfRestContract.IEmployeesService"
                  behaviorConfiguration="web" />
      </service>
      <service name="MusicStoreWcfRestService.WCFAlbumService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" 
                  binding="webHttpBinding" 
                  contract="MusicStoreWcfRestContract.IWCFAlbumService"
                  behaviorConfiguration="web" />
      </service>
      <service name="MusicStoreWcfRestService.WCFArtistService" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding" 
                  contract="MusicStoreWcfRestContract.IWCFArtistService"
                  behaviorConfiguration="web" />
      </service>
      <service name="MusicStoreWcfRestService.WCFGenreService" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="MusicStoreWcfRestContract.IWCFGenreService"
                  behaviorConfiguration="web"/>
      </service>
      <service name="MusicStoreWcfRestService.WCFOrderDetailService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" 
                  binding="webHttpBinding" 
                  contract="MusicStoreWcfRestContract.IWCFOrderDetailService"
                  behaviorConfiguration="web" />
      </service>
      <service name="MusicStoreWcfRestService.WCFOrderService" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding" 
                  contract="MusicStoreWcfRestContract.IWCFOrderService"
                  behaviorConfiguration="web" />
      </service>
    </services>
    <!--配置行为-->
    <behaviors>
      <!--服务行为-->
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <!--终结点行为-->
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--协议映射-->
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="musicdb"
        connectionString="Data Source=.; Initial Catalog = musicstore; User Id = sa;Password = 123"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>